* {
    padding-top: 3px;


}

#body_text {
    padding-left: 10px;
    padding-right: 10px;
}

/* for hero page */
.jumbotron {
    color: white;
    background-image: url(img/cake_sample.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

/* here end */


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    padding: 160px 0 60px 0;
}

.hero h2 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--color-secondary);
    font-family: var(--font-primary);
}

.hero h2 span {
    color: var(--color-primary);
}

.hero p {
    color: #4f4f5a;
    font-weight: 400;
    margin-bottom: 30px;
}

.hero .btn-order {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: var(--color-primary);
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.2);
}

.hero .btn-order:hover {
    background: rgba(206, 18, 18, 0.8);
    box-shadow: 0 8px 28px rgba(206, 18, 18, 0.45);
}



@media (max-width: 640px) {
    .hero h2 {
        font-size: 36px;
    }
}


/* footer */

.footer {
    /* background: #061D25; */
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    transition: all .5s ease;
}

.footer a:hover {
    color: rgb(156, 22, 22);
}

/* footer end */